In [1]:
import os
import pandas as pd

BASE_PATH = r"C:\Users\Impana\Downloads\invoice-classification\\"
D01_PATH = os.path.join(BASE_PATH, "data", "sroie", "D01_sroie_raw.csv")

df = pd.read_csv(D01_PATH)
print(df.shape, df['company'].nunique())
df.head(3)

(625, 5) 235

,invoice_id,text,company,date,total
0,X00016469612,"NO.53 55,57 & 59, JALAN SAGU 18, TAMAN DAYA, 8...",BOOK TA .K (TAMAN DAYA) SDN BHD,25/12/2018,9.00
1,X00016469619,"27, JALAN DEDAP 13, TAMAN JOHOR JAYA, 81100 JO...",INDAH GIFT & HOME DECO,19/10/2018,60.30
2,X00016469620,"LOT 1851-A & 1851-B, JALAN KPB 6, KAWASAN PERI...",MR D.I.Y. (JOHOR) SDN BHD,12-01-19,33.90

In [6]:
def categorize_company(name: str) -> str:
    n = str(name).upper()

    # FOOD / RESTAURANT / CAFE
    if any(k in n for k in ["RESTAURANT", "REST.", "CAFE", "FOOD", "KOPITIAM", "KITCHEN", "BAKERY"]):
        return "FOOD"

    # SUPERMARKET / CONVENIENCE / RETAIL
    if any(k in n for k in ["SUPERMARKET", "MART", "MINI MARKET", "MINIMARKET", "MINIMART",
                            "STORE", "MARKET", "SHOP", "DEPARTMENTAL"]):
        return "RETAIL"

    # STATIONERY / BOOK / PRINTING
    if any(k in n for k in ["BOOK", "STATIONERY", "PRINT", "PRESS", "PHOTO", "PHOTOSTAT"]):
        return "STATIONERY"

    # ELECTRONICS / IT
    if any(k in n for k in ["COMPUTER", "ELECTRIC", "ELECTRICAL", "ELECTRONIC", "IT ", "TECH"]):
        return "ELECTRONICS"

    # AUTO / WORKSHOP / TRANSPORT
    if any(k in n for k in ["WORKSHOP", "AUTO", "MOTOR", "TYRE", "TYRES", "CAR ", "MOTORS"]):
        return "AUTO"

    # CONSTRUCTION / HARDWARE
    if any(k in n for k in ["HARDWARE", "CONSTRUCTION", "CONTRACTOR", "ENGINEERING"]):
        return "HARDWARE"

    # HOTEL / LODGING / TRAVEL
    if any(k in n for k in ["HOTEL", "INN", "RESORT", "LODGE"]):
        return "HOTEL"

    # HEALTH / CLINIC / PHARMACY
    if any(k in n for k in ["CLINIC", "PHARMACY", "PHARMA", "HOSPITAL", "DENTAL"]):
        return "HEALTH"

    # SERVICES / GENERAL SERVICES
    if "SERVICES" in n or "SERVICE" in n:
        return "SERVICES"

    # Default
    return "OTHER"

df['category'] = df['company'].apply(categorize_company)
print(df['category'].value_counts())

category
OTHER          404
RETAIL          87
FOOD            51
STATIONERY      34
HARDWARE        31
ELECTRONICS      9
HEALTH           3
SERVICES         3
HOTEL            2
AUTO             1
Name: count, dtype: int64